<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.bundle0523" >
    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application android:name="com.test.bundle0523.DsLoginApplication">
        <activity android:name="com.test.bundle0523.DsLoginActivity" >
        </activity>
    </application>
</manifest>
